*.clion*
.idea
*.log
*.o
*.exe
*.out
*.la
*.a
*.lib
*.so
*~
*.dir
*.cbp
*Makefile
source.zip
source/logs/duplicaterooms.txt
source/logs/roommgr.log

**/CMakeCache.txt
**/CMakeFiles/
**/CMakeScripts
Testing
**/Makefile
**/cmake_install.cmake
**/install_manifest.txt
**/compile_commands.json
CTestTestfile.cmake

/.vscode
router/router.conf~SpellZerkTest
router/router.conf~HEAD
data/lib/zones/TENT_INT.ZON~SpellZerkTest
data/lib/zones/TENT_INT.ZON~HEAD
data/lib/zones/Old_Zone_Files/TENT_INT.ZON~SpellZerkTest
data/lib/zones/Old_Zone_Files/TENT_INT.ZON~HEAD
data/lib/world/Tutorial.WLD.tok~SpellZerkTest
data/lib/world/Tutorial.WLD.tok~HEAD
bin/router.conf~SpellZerkTest
bin/router.conf~HEAD
bin/roommgr
bin/router
bin/datamgr
bin/updatesrv
bin/tokenize

*.tok
